svg.query-chart path.line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.query-chart text {
    font-size: 10px;
}

svg.query-chart .axis path,
svg.query-chart .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: 10px;
    padding: -9px;
}


.abline path {
  stroke-width: 1px;
  stroke: black
}

.ci { fill-opacity: 0.2; }
.query-chart .sl45 { fill: black;}
.query-chart .sl85 { fill: blue; }
.query-chart .sl45 .line { stroke: black; }
.query-chart .sl85 .line { stroke: blue; }
